<div id="Education">
  <div class="content container py-5 py-lg-auto">
    <h2 class="mb-5 text-center">And this is my formation</h2>
    <div class="card-columns d-none d-lg-block">
      <div class="card">
        <div class="card-header"><h3>2018-2019</h3></div>
        <div class="card-body">
          <h5>NTNU, Trondheim, Norway</h5>
          <p>Year as an Erasmus exchange student at NTNU.</p>
          <p>
            Studied several IT related subjects about Blockchain, Information
            Security, Cryptography and the Internet of Things.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h3>2016-2019</h3></div>
        <div class="card-body">
          <h5>Centrale Nantes, Nantes, France</h5>
          <p>
            Engineering Student at Centrale Nantes, a highly selective French
            School of Engineering conferring a diploma equivalent to a Master’s
            degree.
          </p>
          <p>Specialization in programming languages and IT.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h3>2014-2016</h3></div>
        <div class="card-body">
          <h5>Lycée Saint-Louis, Paris, France</h5>
          <p>
            "Classes préparatoires" at Lycée Saint-Louis, one of the best school
            delivering a 2-year intensive program preparing for the national
            competitive exams for entry to French Schools of Engineering.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><h3>2014</h3></div>
        <div class="card-body">
          <h5>Amiens, France</h5>
          <p>
            "Baccalauréat S, mention très bien": Equivalent to A levels with
            specialized studies in maths, physics, chemistry.
          </p>
        </div>
      </div>
    </div>
    <div
      id="carouselEducation"
      class="carousel slide d-block d-lg-none"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselEducation"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselEducation" data-slide-to="1"></li>
        <li data-target="#carouselEducation" data-slide-to="2"></li>
        <li data-target="#carouselEducation" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active p-4">
          <h3>2018-2019</h3>
          <h5>NTNU, Trondheim, Norway</h5>
          <p>Year as an Erasmus exchange student at NTNU.</p>
          <p>
            Studied several IT related subjects about Blockchain, Information
            Security, Cryptography and the Internet of Things.
          </p>
        </div>
        <div class="carousel-item p-4">
          <h3>2016-2019</h3>
          <h5>Centrale Nantes, Nantes, France</h5>
          <p>
            Engineering Student at Centrale Nantes, a highly selective French
            School of Engineering conferring a diploma equivalent to a Master’s
            degree.
          </p>
          <p>Specialization in programming languages and IT.</p>
        </div>
        <div class="carousel-item p-4">
          <h3>2014-2016</h3>
          <h5>Lycée Saint-Louis, Paris, France</h5>
          <p>
            "Classes préparatoires" at Lycée Saint-Louis, one of the best school
            delivering a 2-year intensive program preparing for the national
            competitive exams for entry to French Schools of Engineering.
          </p>
        </div>
        <div class="carousel-item p-4">
          <h3>2014</h3>
          <h5>Amiens, France</h5>
          <p>
            "Baccalauréat S, mention très bien": Equivalent to A levels with
            specialized studies in maths, physics, chemistry.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-up d-none d-lg-block">
    <a href="#Experience" class="arrow-black fas fa-arrow-circle-up"></a>
  </div>
</div>
