<div id="Values" class="background">
  <div class="black-skin-50">
    <div class="content container">
      <div class="row justify-content-between py-5 py-lg-auto d-none d-lg-flex">
        <div class="col-12">
          <h2>What defines me</h2>
          <h3 class="mb-5">Forged through battles</h3>
        </div>
        <div class="col-sm-3">
          <h4>Adaptivity</h4>
          <p>
            During a match, I have to constantly think about what I should do in
            order to win. But my opponent won't wait for me. Therefore, I have
            to take the right decision in a blink of an eye, reacting to what my
            opponent is doing with the right gesture and winning point after
            point, decision after decision.
          </p>
        </div>
        <div class="col-sm-3">
          <h4>Competitivity</h4>
          <p>
            A competition is never won or lost before actually doing it. That's
            why every time I do something, I give my best. Even if my opponent
            is one point away from victory I will continue to believe that I can
            comeback and try to surpass myself. Every defeat that I experienced
            were lessons that I learned and helped me to be better, in fencing,
            but also at work.
          </p>
        </div>
        <div class="col-sm-3">
          <h4>Teamwork</h4>
          <p>
            Fencing is never learned alone. And it is the same at work. Even if
            what I produce myself is what I did, the ideas, the practice and the
            reflections all come from the people around me. I couldn't be a good
            fencer without all my partners around me to train with and helping
            me improve my qualities and erasing my flaws.
          </p>
        </div>
      </div>
    </div>
    <div
      id="carouselValues"
      class="carousel slide d-block d-lg-none"
      data-ride="carousel"
    >
      <div class="col-12 pt-5">
        <h2>What defines me</h2>
        <h3 class="mb-5">Forged through battles</h3>
      </div>
      <ol class="carousel-indicators">
        <li
          data-target="#carouselValues"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselValues" data-slide-to="1"></li>
        <li data-target="#carouselValues" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-4">
          <h4>Adaptivity</h4>
          <p>
            During a match, I have to constantly think about what I should do in
            order to win. But my opponent won't wait for me. Therefore, I have
            to take the right decision in a blink of an eye, reacting to what my
            opponent is doing with the right gesture and winning point after
            point, decision after decision.
          </p>
        </div>
        <div class="carousel-item text-center p-4">
          <h4>Competitivity</h4>
          <p>
            A competition is never won or lost before actually doing it. That's
            why every time I do something, I give my best. Even if my opponent
            is one point away from victory I will continue to believe that I can
            comeback and try to surpass myself. Every defeat that I experienced
            were lessons that I learned and helped me to be better, in fencing,
            but also at work.
          </p>
        </div>
        <div class="carousel-item text-center p-4">
          <h4>Teamwork</h4>
          <p>
            Fencing is never learned alone. And it is the same at work. Even if
            what I produce myself is what I did, the ideas, the practice and the
            reflections all come from the people around me. I couldn't be a good
            fencer without all my partners around me to train with and helping
            me improve my qualities and erasing my flaws.
          </p>
        </div>
      </div>
    </div>
    <div class="scroll-down d-none d-lg-block">
      <a href="#Experience" class="arrow-white fas fa-arrow-circle-down"></a>
    </div>
    <div class="scroll-up d-none d-lg-block">
      <a href="#AboutMe" class="arrow-white fas fa-arrow-circle-up"></a>
    </div>
  </div>
</div>
