<div class="background">
  <div class="black-skin-75">
    <nav
      [class]="
        'navbar navbar-expand-md fixed-top d-none d-md-block' +
        (background ? ' navbar-light bg-white' : ' navbar-transparent')
      "
    >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#AboutMe">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Values">Values</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Education">Education</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="title">
      <img src="assets/avatar.png" alt="Picture of myself" class="avatar" />
      <h1>Hi, I'm <span class="belinda font-weight-bold">Jules Paris</span></h1>
    </div>
    <div class="scroll-down d-none d-md-block">
      <a href="#AboutMe" class="arrow-down fas fa-arrow-circle-down fa-2x"></a>
    </div>
  </div>
</div>
