<div class="background">
  <div class="black-skin">
    <nav
      [class]="
        'navbar navbar-expand-lg fixed-top' +
        (asScrolled ? ' navbar-light bg-light' : ' navbar-transparent')
      "
    >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#AboutMe">About Me</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="title">
      <img
        src="../../assets/avatar.png"
        alt="Picture of myself"
        class="avatar"
      />
      <h1>Hi, I'm <span class="belinda">Jules Paris</span></h1>
      <h4>Student at Centrale Nantes</h4>
    </div>
  </div>
</div>

<div id="Experience"></div>
