<div id="AboutMe">
  <div class="scroll-up d-none d-lg-block">
    <a href="#" class="arrow-black fas fa-arrow-circle-up"></a>
  </div>
  <div class="content container">
    <div class="row py-5 py-lg-auto">
      <div class="col-lg-6 about">
        <h3 class="mb-5">Hi there! I'm Jules Paris,</h3>
        <p>
          A highly motivated engineering student seeking a final-year internship
          for a period of 6 months in a consulting company focused on new
          technologies starting from July 2019. Proven track record in problem
          identification and implementation of effective solutions. Excellent
          inter-personal skills built through 17 years of fencing and a lot of
          competitions.
        </p>
        <div
          id="PersonalInfos"
          class="row my-5 mb-lg-auto justify-content-center"
        >
          <div class="col-12 col-sm-6 mb-2">
            <i class="far fa-calendar-alt mr-1"></i
            ><span class="font-weight-bold">Date Of Birth :</span> 17 april 1997
          </div>
          <div class="col-12 col-sm-6 mb-2">
            <i class="fas fa-map-marker-alt mr-1"></i
            ><span class="font-weight-bold">Location :</span> 7050 Trondheim,
            Norway
          </div>
          <div class="col-12 col-sm-6 mb-2">
            <i class="fas fa-at mr-1"></i
            ><span class="font-weight-bold">Email :</span>
            jules.paris@wanadoo.fr
          </div>
          <div class="col-12 col-sm-6 mb-2">
            <i class="fas fa-phone mr-1"></i
            ><span class="font-weight-bold">Phone Number :</span> +33 682 831
            520
          </div>
          <div class="col-12 col-lg-6 mb-2 network">
            <i class="fab fa-linkedin mr-1"></i
            ><span class="font-weight-bold"
              ><a
                href="https://www.linkedin.com/in/jules-paris/"
                class="network"
                >LinkedIn</a
              ></span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 skills">
        <h3 class="mt-auto mb-4 mt-lg-auto">Skills Overview</h3>
        <span class="font-weight-bold">French</span
        ><span class="float-right">100%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">English (TOEIC : 935)</span
        ><span class="float-right">92%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 92%"
            aria-valuenow="92"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">Spanish</span
        ><span class="float-right">45%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 45%"
            aria-valuenow="45"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">Miscrosoft Office Suite</span
        ><span class="float-right">80%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 80%"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">Python</span
        ><span class="float-right">90%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 90%"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">HTML5/CSS3</span
        ><span class="float-right">85%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 85%"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <span class="font-weight-bold">Angular</span
        ><span class="float-right">65%</span>
        <div class="progress my-2">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 65%"
            aria-valuenow="65"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down d-none d-lg-block">
    <a href="#Values" class="arrow-black fas fa-arrow-circle-down"></a>
  </div>
</div>
