#AboutMe {
  color: #444444;
}

.content {
  width: 100%;
}

.about,
.skills {
  padding: 1em 2em;
}

.about p {
  text-align: justify;
}

#PersonalInfos {
  font-size: 0.8rem;
}

.network a {
  color: inherit;
  text-decoration: 0;
  transition: background-color 0.5s, color 0.5s;
}

.network a:hover {
  color: white;
  text-decoration: 0;
  background-color: #444444;
  transition: background-color 0.5s, color 0.5s;
}

.progress {
  height: 0.4em;
}

.progress-bar {
  background-color: #666666;
}

/*** For desktop ***/
@media (min-width: 992px) {
  #AboutMe {
    height: 100vh;
  }

  .content {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .network {
    text-align: center;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: -95%;
    transform: translate(-50%, -50%);
  }

  .scroll-up {
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%, -50%);
  }

  .arrow-black {
    color: black;
    font-size: 1.33em;
    text-decoration: none;
    outline: 0;
  }
}

@media (min-width: 1200px) {
  .arrow-black {
    font-size: 2em;
  }
}
