.content {
  color: #222222;
}

.about,
.skills {
  padding: 1em 2em;
}

.about p {
  text-align: justify;
}

#PersonalInfos {
  font-size: 0.8em;
}

.network a {
  color: inherit;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
}

.network a:hover {
  color: white;
  text-decoration: none;
  background-color: #222222;
  transition: background-color 0.5s, color 0.5s;
}

.progress {
  height: 0.4em;
}

.progress-bar {
  background-color: #666666;
}

/*** For desktop ***/
@media (min-width: 992px) {
  #AboutMe {
    height: 100vh;
  }

  .content {
    position: relative;
    top: 50%;
    transform: translate(0, -48%);
    max-height: 75%;
    overflow: auto;
    scrollbar-width: thin;
    font-size: 0.75em;
  }

  .network {
    text-align: center;
  }

  .scroll-up {
    position: absolute;
    left: 50%;
    bottom: -14%;
    transform: translate(-50%, -50%);
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: -98%;
    transform: translate(-50%, -50%);
  }

  .arrow-black {
    color: #222222;
    font-size: 1.33em;
    text-decoration: none;
    outline: 0;
  }
}

@media (min-width: 1200px) {
  .content {
    font-size: 1em;
  }

  .arrow-black {
    font-size: 1.75em;
  }
}

@media (min-width: 1400px) {
  .arrow-black {
    font-size: 2em;
  }
}
