#Experience {
  color: #222222;
}

h2 {
  font-family: Giveny, "Times New Roman", Times, serif;
  font-size: 2.5em;
  text-align: center;
}

.timeline-badge {
  background-color: #222222;
}

@media (min-width: 992px) {
  #Experience {
    height: 100vh;
  }

  .content {
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
    /* scrollbar-width: thin; */
    width: 100%;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -49%);
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .content h2 {
    font-size: 3em;
  }

  .fas {
    font-size: 1.33em;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: -295%;
    transform: translate(-50%, -50%);
  }

  .scroll-up {
    position: absolute;
    left: 50%;
    bottom: -215%;
    transform: translate(-50%, -50%);
  }

  .arrow-black {
    color: #222222;
    text-decoration: none;
    outline: 0;
  }
}

@media (min-width: 1200px) {
  .fas {
    font-size: 2em;
  }
}
