<div id="Experience">
  <div class="scroll-up d-none d-lg-block">
    <a href="#Values" class="arrow-black fas fa-arrow-circle-up"></a>
  </div>
  <div class="content container py-5 py-lg-auto">
    <h2 class="mb-5">What I've done so far</h2>
    <ul class="timeline">
      <li>
        <div class="timeline-badge">
          <i class="glyphicon glyphicon-check"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">2018</h3>
          </div>
          <div class="timeline-body">
            <h5>Oui.sncf (5 months)</h5>
            <p>
              Internship as a full-stack web developer on an internal project.
            </p>
            <p>
              Used Angular, Nodejs and Mongodb as main technologies and get
              knowledges about deploying an application.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">2017</h3>
          </div>
          <div class="timeline-body">
            <h5>Hubbler (1 month)</h5>
            <p>Internship as a web developer in this start-up from Nantes.</p>
            <p>
              Used mainly javascript to help developping the web application.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title">2017</h3>
          </div>
          <div class="timeline-body">
            <h5>Altran (6 months)</h5>
            <p>
              School project, study about virtual reality and augmented reality.
            </p>
            <p>
              State of the art for those technologies and evaluation and
              prospects in the actual market and previsions.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="scroll-down d-none d-lg-block">
    <a href="#Education" class="arrow-black fas fa-arrow-circle-down"></a>
  </div>
</div>
