@media (min-width: 992px) {
  #Experience {
    height: 100vh;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fas {
    font-size: 1.33em;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: -295%;
    transform: translate(-50%, -50%);
  }

  .scroll-up {
    position: absolute;
    left: 50%;
    bottom: -215%;
    transform: translate(-50%, -50%);
  }

  .arrow-black {
    color: black;
    text-decoration: none;
    outline: 0;
  }
}

@media (min-width: 1200px) {
  .fas {
    font-size: 2em;
  }
}
