@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: Belinda;
  src: url(assets/fonts/Belinda.otf);
}

@font-face {
  font-family: Giveny;
  src: url(assets/fonts/Giveny.otf);
}

body {
  height: 300vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.black-skin {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.75);
}

a.nav-link {
  outline: 0;
}
