@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/css/timeline.css";

@font-face {
  font-family: Belinda;
  src: url(assets/fonts/Belinda.otf);
}

@font-face {
  font-family: Giveny;
  src: url(assets/fonts/Giveny.otf);
}

@font-face {
  font-family: Poly;
  src: url(assets/fonts/Poly.otf);
}

body {
  font-family: Poly, "Times New Roman", Times, serif;
  padding: 0;
}

.black-skin-75 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.75);
}

.black-skin-50 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

a.nav-link {
  outline: 0;
}

@media (min-width: 992px) {
  body {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}
